<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Manolo's Page</title>

  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "css/one-page-wonder.css" %}" rel="stylesheet">
  <link href="{% static "css/style.css" %}" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>
  <header class="header-image navbar-fixed-top">
    <div class="logo-container"></div>
    <img class="header-logo" src="{% static "imgs/logo.png" %}">
    <div class="navbar-top"></div>
    <nav id="top-menu" class="navbar navbar-inverse"  data-page="about" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a id="index" href="{% url 'index' %}">Inicio</a></li>
            <li><a id="about" href="{% url 'about' %}">Quienes somos</a></li>
            <li><a id="catalogue" href="{% url 'catalogue' %}">Catálogo</a></li>
            <li><a id="contact" href="{% url 'contact' %}">Contacto</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
      <div id="about-page" class="content container">
        <hr class="featurette-divider"/>
        <p>Roller Co. es una empresa líder en la industria de las Cortinas Roller. Nuestros principios fundamentales
          son la responsabilidad, excelencia y la integridad. Los cuales generan diferenciación en relación a la
          competencia, etregando un valor real. Contamos con un equipo humano proactiva, expertos en cortinaje y con
          un alto grado de experiencia, dispuestos a resolver las necesidades específicas de cada cliente con un trato
          personalizado.</p>
        <hr class="featurette-divider"/>
        <img src="{% static "imgs/About.png" %}">
      </div>
      <footer>
          <div class="row">
              <div class="col-lg-12">
                  <p>JORGE HIRMAS 2743, SANTIAGO, RENCA, XIII METROPOLITANA DE SANTIAGO</p>
              </div>
          </div>
      </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script type="text/javascript" src=" {% static "js/custom.js" %} "></script>
      <script type="text/javascript" src=" {% static "js/jquery.js" %} "></script>
      <script type="text/javascript" src=" {% static "js/bootstrap.min.js" %} "></script>
</body>
</html>
